---
import Layout from '../layouts/Layout.astro';
import RateLimitRuleManager from '../components/RateLimitRuleManager.tsx'
---

<Layout title="Rate Limiter Configuration">
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8 text-center">Rate Limit Configuration</h1>
    
    <RateLimitRuleManager client:load />
  </main>
</Layout>
